<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Include custom CSS -->
        <link rel="stylesheet" href="{% static '\client\css\base_user.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index_user' %}">
            <img src="{% static 'manager\img\logo.jpg' %}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile_user' %}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_user' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'client_property_detail'%}">Property Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'make_payment' %}">Payment Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'complaints' %}">Complaint</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_package'%}">Package</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'payment_history' %}">Payment History</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="pt-3 pb-2 mb-3 border-bottom">
                    {% block heading %}{% endblock %}
                </div>
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script>
        $(document).ready(function() {
            $("navbar-brand").click(function() {
                $(".sidebar").toggle();
            });
        });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
